@font-face {
    font-family: mainFont;
    src: url(../../../../../public/fonts/AgencyFB-Bold.ttf);
    font-weight: bold;
  }

@media screen and (min-width: 768px) {
	.commercialPhrase {
        font-family: mainFont;
        font-size: 3rem;
    }
}

@media screen and (max-width: 767px) {
	.commercialPhrase {
        font-family: mainFont;
        font-size: 1rem;
    }
}


.phraseStart {
    color: #ce7432;
}

.phraseEnd {
    color: #651d32;
}

