@font-face {
    font-family: mainFont;
    src: url(../../../../../public/fonts/AgencyFB-Bold.ttf);
    font-weight: bold;
}

.main-section-title, .commercial-phrase{
    font-family: mainFont;
}

.main-section-title{
    color: #651d32;
}
 
.sub-section-title{
    color: #ce7432;
    font-weight: bold;
}

.underline {
    height: 0.3rem;
    width: 5rem;
    background-color: #ce7432;
    margin-bottom: 0.5rem;
}

.quote-text{
    font-style: italic;
}

.description-text{

    text-align: justify;
    text-justify: inter-word;
}

@media screen and (min-width: 768px) {
	.commercial-phrase, .main-section-title {
        font-size: 3rem;
    }

    .main-star-rating{
        font-size: 2rem;
    }
}

@media screen and (max-width: 767px) {
	.commercial-phrase {
        font-size: 1rem;
    }
    
    .main-section-title {
        font-size: 1.5rem;
    }

    .underline {
        height: 0.1rem;
    }

    .main-star-rating{
        font-size: 1rem;
    }
}


.phrase-start {
    color: #ce7432;
}

.phrase-end {
    color: #651d32;
}

