.App {
  text-align: center;
}

.nav-logo {
    max-height: 3rem;
    width: auto;
}

.nav-link {
  color: #651d32 !important;
}

.nav-link:hover {
  color: #ce7432 !important;
}

.primary-color {
  color: #651d32
}

.orange {
  color: #ce7432 !important;
}

hr.orange {
  border-width: 0;
  opacity: 1;
}

/* BOOTSTRAP OVERLOADS */
/* btn primary */
.btn-primary {
  color: #fff !important;
  background-color: #651d32 !important;
  border-color: #651d32 !important;
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #5b1327 !important;
  border-color: #5b1327 !important;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff !important;
  background-color: #5b1327 !important;
  border-color: #5b1327 !important;
  box-shadow: 0 0 0 0.25rem rgba(91, 19, 40, 0.5) !important;
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #fff !important;
  background-color: #5b1327 !important;
  border-color: #5b1327 !important;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(91, 19, 40, 0.5) !important;
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #fff !important;
  background-color: #651d32 !important;
  border-color: #651d32 !important;
}

/* btn secondary */
.btn-secondary {
  color: #fff !important;
  background-color: #ce7432 !important;
  border-color: #ce7432 !important;
}
.btn-secondary:hover {
  color: #fff !important;
  background-color: #c46928 !important;
  border-color: #c46928 !important;
}
.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #fff !important;
  background-color: #c46928 !important;
  border-color: #c46928 !important;
  box-shadow: 0 0 0 0.25rem rgba(206, 116, 50, 0.5) !important;
}
.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  color: #fff !important;
  background-color: #c46928 !important;
  border-color: #c46928 !important;
}
.btn-check:checked + .btn-secondary:focus, .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(206, 116, 50, 0.5) !important;
}
.btn-secondary:disabled, .btn-secondary.disabled {
  color: #fff !important;
  background-color: #ce7432 !important;
  border-color: #ce7432 !important;
}

/* btn outline primary */
.btn-outline-primary {
  color: #651d32 !important;
  border-color: #651d32 !important;
}
.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #651d32 !important;
  border-color: #651d32 !important;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(91, 19, 40, 0.5) !important;
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #fff !important;
  background-color: #651d32 !important;
  border-color: #651d32 !important;
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(91, 19, 40, 0.5) !important;
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #651d32 !important;
  background-color: transparent;
}

/* btn outline secondary */
.btn-outline-secondary {
  color: #ce7432 !important;
  border-color: #ce7432 !important;
}
.btn-outline-secondary:hover {
  color: #fff !important;;
  background-color: #ce7432 !important;
  border-color: #ce7432 !important;
}
.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.25rem rgba(206, 116, 50, 0.5) !important;
}
.btn-check:checked + .btn-outline-secondary, .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
  color: #fff !important;
  background-color: #ce7432 !important;
  border-color: #ce7432 !important;
}
.btn-check:checked + .btn-outline-secondary:focus, .btn-check:active + .btn-outline-secondary:focus, .btn-outline-secondary:active:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(206, 116, 50, 0.5) !important;
}
.btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
  color: #ce7432 !important;
  background-color: transparent;
}